:root {
    --color-gral : crimson;
}

body {
    background-color: white;
}

main {
    font-family: Candara, sans-serif;
    font-size: x-large;
    line-height: 1.5em;
    text-align: justify;
    hyphens: auto;
    width: 60vw;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    row-gap: 8px;

    h1 {
        font-size: 2.5em;
        text-align: center;
    }

    strong {
        font-variant: small-caps;
        color: var(--color-gral);
    }

    div {
        padding: 24px;

        h2 {
            font-family: "Candara Light", sans-serif;
            font-size: 1.5em;
            padding-left: 8px;
            border-left: var(--color-gral) 3px solid;
            margin: 0;
        }

        video, img {
            width: 100%;
            box-shadow: lightgray 5px 5px 10px;
        }
    }

    ol {
        li {
            margin: 0.5em 0;
        }
    }
}